* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
// dev
$primary: #EBEBEB;
$secondary: #898280;

$bg-bright: $primary;
$bg-dark: black;

$text-bright: $bg-dark;
$text-dark: $bg-bright;
$text-alt: #090B09;

$font-header: "moonless_scregular";
$font-text: "quicksandregular";

$btn-bright: $bg-dark;
$btn-dark: $bg-bright;
$btn-rounded: 26px;
$btn-vert: 9px;
$btn-horiz: 18px;
$btn-line-h: 100%;
$btn-letter-space: 2%;

$border-bright: $primary;
$border-dark: $secondary;

// artist
$a-primary: rgb(0, 0, 0);
$a-primary-transparent: rgba(0, 0, 0, 0.92);
$a-secondary: rgba(10, 10, 10, 0.55);
$a-sun: #7A7A7A;

$a-bg-bright: $primary;
$a-bg-dark: black;

$a-text-bright: $bg-dark;
$a-text-dark: #EBEBEB;
$a-text-alt: #8A02F2;

$a-font-header: "moonless_scregular";
$a-font-text: "quicksandregular";

$btn-bright: $bg-dark;
$btn-dark: $bg-bright;

//general
$letter-space-xl: 0%;
$letter-space-lg: 1%;
$letter-space-md: 2%;
$letter-space-sm: 3%;

$spacing-xl: 36px;
$spacing-lg: 27px;
$spacing-md: 18px;
$spacing-sm: 9px;

$line-h-lg: 45px;
$line-h-md: 36px;
$line-h-sm: 27px;

$shadow-lg-y: 9px;
$shadow-blur-lg-y: calc($shadow-lg-y * 2);
$shadow-md-y: 6px;
$shadow-blur-md-y: calc($shadow-md-y * 2);
$shadow-sm-y: 3px;
$shadow-blur-sm-y: calc($shadow-sm-y * 2);

$padding-sm: 45px;
$padding-md: 70px;
$padding-lg: 90px;

$text-sm: 19px;
$text-md: 23px;
$text-lg: 27px;

